@import "../../sass/_variables.sass";

.ContentCard {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;

  .Content {
    background: $secondary-color;
    padding: $size-medium-large;
    flex: 1;
  }
  .Title {
    color: $text-color-dark;
    font-size: $size-medium-large;
    margin-bottom: $size-medium-large;
  }

  @media (min-width: $screen-large) {
    .Content {
      background: $secondary-color;
      padding: $size-medium-large $size-large;
      flex: 1;
    }
  }
}

.ImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: $card-img-height;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
