@import "../../sass/_variables.sass";

$underline-height: 10px;

.TitleWrapper {
  text-align: left;
}

.SectionTitle {
  display: inline-block;
  position: relative;
  font-size: $size-large;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: $size-regular;
  color: $text-color-light;

  &.Underline {
    padding-bottom: $size-regular * 2;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 30%;
      height: $underline-height;
      background: $text-color-light;
    }
  }

  &.Dark {
    color: $text-color-dark;
    &:before {
      background: $text-color-dark;
    }
  }
}

.SectionSubtitle {
  color: $text-color-light;
  font-size: $size-medium;
  margin-bottom: $size-regular;
  text-transform: uppercase;

  &.Dark {
    color: $text-color-dark;
  }
}
