@import "../../sass/_variables.sass";

.Btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  outline: none;
  padding: $size-regular / 2 $size-regular * 1.5;
  font-size: $size-regular;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background: $main-color;
  border: 2px solid $text-color-light;
  color: $text-color-light;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &.Inverted {
    border: 2px solid $main-color;
    background: $text-color-light;
    color: $main-color;

    &:hover {
      border: 2px solid $text-color-light;
      background: $main-color;
      color: $text-color-light;
    }
  }

  &.fullwidth {
    width: 100%;
  }
}
