@import "../../sass/_variables.sass";

.HeroCard {
  width: 100%;
  background: $main-color;
  color: $text-color-light;
  padding: $size-regular * 2;
  text-align: left;

  .Title {
    display: inline-block;
    position: relative;
    font-size: $size-large;
    font-weight: bold;
    // padding: $size-regular;
    text-transform: uppercase;
    padding-bottom: $size-regular * 2;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      // top: $size-regular * 4;
      left: 0%;
      width: 30%;
      height: 10px;
      background: $text-color-light;
    }
  }

  .Content {
    // padding: $size-regular;

    padding-top: $size-regular * 2;
    padding-bottom: $size-regular * 3;
    font-size: $size-regular;

    p {
      color: $text-color-light;
    }
  }

  .Control {
    text-align: right;
  }

  .Btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    outline: none;
    padding: $size-regular / 2 $size-regular * 1.5;
    font-size: $size-regular;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    background: $main-color;
    border: 2px solid $text-color-light;
    color: $text-color-light;
  }
}
