@import "../../../sass/_variables.sass";

.NavBar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: $size-small;
  padding-top: $size-large * 2;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  transform: translateX(100%);
  width: 50%;
  background: $main-color;
  justify-content: flex-start;
  transition: transform 0.2s ease-out;

  &.open {
    transform: translateX(0%);
    z-index: 5;
  }

  li {
    position: relative;
  }
  @media (min-width: $screen-large) {
    left: 0;
    top: 0;
    transform: translateX(0);
    background: transparent;
    height: auto;
    width: auto;
    position: relative;
    flex-direction: row;
    padding: $size-small;
  }
}
