@import "../../sass/_variables.sass";
.ContactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $size-large;

  label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $size-regular;
    margin-bottom: $size-small;
  }

  input,
  textarea {
    width: 100%;
    font-family: inherit;
    font-size: $size-regular;
    margin-bottom: $size-regular;
    padding: $size-small;
    color: $text-color-dark;
    outline: none;
    border: 2px solid $secondary-color;
  }

  input:focus,
  textarea:focus,
  input:active,
  textarea:active {
    border: 2px solid $text-color-dark;
  }

  textarea {
    resize: none;
  }
}
