@import "../../sass/_variables.sass";

.Header {
  width: 100%;
  background: $main-color;

  .Title {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: $size-large;
    color: $text-color-light;

    .Bold {
      font-weight: bold;
    }
  }

  .Content {
    max-width: $max-width;
    margin: auto;
    color: $text-color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-medium;
  }
}
