@import "../../sass/_variables.sass";

.Section {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  margin-bottom: $size-medium-large;

  @media (min-width: $screen-large) {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    justify-content: center;
    margin-bottom: $size-large;
  }

  &.SmallLarge {
    @media (min-width: $screen-large) {
      grid-template-columns: 1fr 2fr;
      column-gap: 3rem;
      justify-content: center;
    }
  }

  &.LargeSmall {
    @media (min-width: $screen-large) {
      grid-template-columns: 2fr 1fr;
      column-gap: 3rem;
      justify-content: center;
    }
  }
}
